.simposio {
  width: 1100px;
  padding: 45px 0;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.simposio-top {
  margin-bottom: 60px;
}

.simposio-top-info{
  width: 600px;
}

.simposio-top-info h1{
  color: var(--verde);
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-size: 50px;
  margin: 0 0 15px 0;
}

.simposio-top-info p,
.simposio-top-support p{
  color: var(--gris);
  font-family: 'Calibri';
  font-size: 19px;
  margin: 0;
}

.simposio-top-support{
   width: 100%;
}

.simposio-top-support h2{
  color: var(--verde);
  font-family: 'Calibri';
  font-size: 17px;
  margin: 18px 0 0 0;
  align-self: flex-start;
}

.support-logos{
  width: 100%;
  justify-content: space-around !important;
}

.flyer{
  width: 450px;
  margin-left: 50px;
}

.simposio-pics{
  margin: 45px 0 0 0;
  width: 100%;
}

.simposio-pics h1{
  color: var(--verde);
  font-family: 'Calibri';
  font-size: 35px;
  margin: 0 0 25px 0;
}

.simposio-gallery{
  flex-wrap: wrap;
  justify-content: space-between !important;
}

.simposio-gallery img{
  width: 340px;
  margin: 20px 0;
}

.simposio-agenda {
  margin: 30px 0;
  width: 100%;
}

.simposio-agenda-menu {
  margin-bottom: 20px;
}

.simposio-agenda-menu h1 {
  color: var(--verde);
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-size: 60px;
  margin: 30px 0 30px 0;
  text-align: center;
}

.simposio-agenda-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  height: 34px;
}

.simposio-agenda-menu ul li {
  font-size: 23px;
  font-family: 'Myriad Pro';
  margin-right: 50px;
  cursor: pointer;
  color: var(--gris);
  transition: 0.2s;
}

.simposio-agenda-menu ul li:last-child {
  margin-right: 0;
}

.simposio-agenda-menu ul li:hover,
.simposio-agenda-menu ul li.selected{
  color: var(--verde);
}

.simposio-agenda-menu ul li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  border-radius: 3px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.simposio-agenda-menu ul li.selected:after{
  width: 100%;
  background: var(--verde);
}

.simposio-agenda-content{
  width: 100%;
}

.day-header h2{
  color: var(--verde);
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-size: 32px;
  margin: 30px 0 8px 0;
}

.day-header p {
  color: var(--gris);
  font-family: 'Myriad Pro';
  font-size: 23px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.day-cards {
  margin: 30px 0px;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}

.day-card {
 padding: 25px 0;
 border-radius: 9px;
 justify-content: flex-start !important;
 width: 860px;
 margin-bottom: 30px;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.day-card img {
  width: 128px;
  border-radius: 100%;
  margin-left: 30px;
}

.day-card-details {
 margin-left: 30px;
 padding-right: 15px;
 align-items: flex-start !important;
}

.day-card-details h3 {
  color: var(--verde);
  font-family: 'Myriad Pro';
  font-size: 23px;
  margin: 0 0 8px 0;
}

.day-card-details p {
  color: var(--gris);
  font-family: 'Calibri';
  font-size: 16px;
  margin: 0;
}

.day-card-detail-name{
  font-weight: bold;
  font-size: 22px !important;
}

.day-section{
  animation: animationIn .5s ease-in forwards;
}

@keyframes animationIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 1170px){
  .simposio{
    width: 80vw;
  }

  .simposio-top-info{
    width: 35vw;
  }

  .simposio-top-info h1{
    font-size: 40px;
  }
}

@media screen and (max-width: 1000px){
  .simposio-top-info h1{
    font-size: 35px;
  }
}

@media screen and (max-width: 950px){
  .day-card{
    width: 70vw;
  }

  .day-cards{
    padding: 0;
  }

  .simposio-agenda-menu ul li {
    margin-right: 30px;
  }
  
  .simposio-agenda-menu ul li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 900px){
  .simposio-top-info h1{
    font-size: 30px;
  }

  .simposio-top-info p,
  .simposio-top-support p{
    font-size: 17px;
  }

  .simposio-gallery{
    flex-wrap: wrap;
    justify-content: space-around !important;
  }

  .simposio-gallery img{
    width: 300px;
    /* margin: 20px 0; */
  }

}

@media screen and (max-width: 800px){
  .simposio-top-info h1{
    font-size: 27px;
  }

  .simposio-top-info p,
  .simposio-top-support p{
    font-size: 16px;
  }

  .simposio-gallery{
    flex-direction: column !important;
    justify-content: center;
  }

  .simposio-pics h1{
    font-size: 27px;
    text-align: center;
  }

  .simposio-gallery img{
    width: 340px;
  }

  .simposio-agenda-menu h1 {
    font-size: 40px;
  }

  .day-header h2 {
    font-size: 24px;
  }

}

@media screen and (max-width: 730px){
  .simposio-top-info h1{
    font-size: 24px;
  }

  .simposio-top-info p,
  .simposio-top-support p{
    font-size: 15px;
  }

}

@media screen and (max-width: 650px){
  .simposio-top{
    flex-direction: column !important;
  }

  .simposio-top-info{
    width: 70vw;
  }

  .flyer{
    width: 70vw;
    margin: 20px 0 0 0;
  }

  .simposio-top-info h1{
    text-align: center;
    width: 80vw;
  }

  .simposio-top-info p,
  .simposio-top-support p{
    text-align: center
  }

  .simposio-gallery img{
    width: 70vw;
    /* margin: 20px 0; */
  }

  .day-card{
    flex-direction: column !important;
  }

  .day-card img {
    margin: 0 0 25px 0;
  }

  .day-card-details h3 {
    text-align: center;
  }
  
}