
.info h1{
    color: var(--verde);
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
  .info h2{
    color: var(--verde);
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
.space{
  margin: 20px 15% 10px 15%;
}
  .info p{
    font-family: 'Calibri';
    color: var(--gris);
    margin: 10px 0 10px 0;
    text-align: justify;
  }
.react-player{

height: 800px;

margin: 0px 80px 0px 0px;
}