
.info h1{
    color: var(--verde);
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  .btnBuscar{
    margin-left: 4px;
    box-shadow: -1px 0px 1px 0px rgba(0,0,0,0.55);
    border-radius: 7px;
  }

  .form-control{
    margin-left: 20px;
  }