.fotofilm {
  width: 1100px;
  padding: 5px 0;
  margin: 0 auto;
}

.fotofilm-header{
  width: 800px;
  margin: 0 auto;
}
.fotofilm-content-text{
  margin-bottom: 30px;
}
.fotofilm-header h1{
  color: var(--verde);
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-size: 50px;
  margin: 25px 0 15px 0;
  text-align: center;
}

.fotofilm-header p{
  color: var(--gris);
  font-family: 'Calibri';
  font-size: 19px;
  margin: 0;
  text-align: center;
}

.fotofilm-content{
  width: 700px;
  margin: 0 auto;
}

.fotofilm-content-text h2{
  color: var(--verde);
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-size: 35px;
  margin: 35px 0;
  text-align: center;
}

.fotofilm-categories{
  width: 680px;
  margin: 0 auto;
  justify-content: space-between !important;
}
.fotofilm img{
  margin: 0px 0px 30px ;
}

.fotofilm-category img{
  margin: 20px 0;
}


.fotofilm-winners {
  display: flex;
  flex-direction: column;
  align-items: center; /* Esto centrará todo el contenido del contenedor verticalmente */
}


.fotofilm-winners img{
  margin: 0 auto; 
}

.fotofilm-winners h2{
  color: var(--verde);
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-size: 35px;
  margin: 35px 0;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .fotofilm {
    width: 80vw;
    padding: 0;
  }
  .fotofilm-header{
    width: 60vw;
  }
  .fotofilm-content{
    width: 55vw;
  }
  .fotofilm-categories{
    width: 50vw;
    flex-direction: column !important;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .fotofilm-content-text h1{
    font-size: 30px;
  }
  .fotofilm-content-text h2{
    font-size: 25px;
  }
  .fotofilm-content-text p{
    font-size: 17px;
  }
}
