.social-container {
    background-color: var(--verde);
    flex-shrink: 0;
    padding: 25px 50px;
  }
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: translateY(-2px);
  }
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #83d1e9;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: rgb(233, 104, 53);
  }

.contact-box-title{
    font-family: 'Calibri';
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0 0 20px 0;
  }